<footer>
    <div class="delta">Made by Hari</div>
</footer>

<style>
    .img{
        display: flex;
        justify-content: center;
        width: 20px;
         height: 20px;
          margin:0 5px;
    }
    .delta{
        display: flex;
        font-size: 1.1rem;
        align-items: center;
        justify-content: center;
    text-align: center;
    width: fit-content;
    background-color: #131212;
    color:wheat;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
</style>