
<header class="header">
    <link rel="icon" type="image/png" href="logo.png"/>
    <div class="spiderhead"> <span class="span">U</span>RL    <span class="span">S</span>HORTENER</div>
    <a href="/Logout" class="logout">LOGOUT</a>

    

</header>   