
<div class="covering">

    <div class="dashboard">
        <div class="heading">New Url</div>
    </div>
    
    <div class="link"> <a href="/">Dashboard</a> / <a href="/urls">Urls</a> / New Url</div>
    
    <form action="addurl" method="post" class="fileform" >
        <div class="details">
           <label for="name">Name :</label>
           <input type="text" class="form-details" id="name" name="name" placeholder="Enter the name of url"
           required>
        </div>
    
        
    
         <div class="details">
          <label for="fullurl">Paste Url :</label>
          <input type="url" class="form-details" id="fullurl" name="fullurl">
       </div>
    
         <div class="details">
            <button type="submit" class="submit" id="addsubmit"> Shrink Url</button>
         </div>
    </form>
    
    </div>
    
    