<div class="covering">

    <div class="dashboard">
        <div class="heading">Welcome to Url Shortener</div> 
    </div>
    
    <div class="link"><%= studentname %>'s Dashboard</div>

     <div class="dotcovering">
      
        
       
        <div class="course"> Number of Urls Created : <%= urlsCount %> </div>
      
    </div>
    
</div>

