<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Organiser</title>
    <link rel="stylesheet" href="/authentication.css">
    <link rel="icon" type="image/png" href="logo.png"/>
</head>
<body>
    

    <%- include('./partials/headerauthentication') %>

    <h1>Login</h1>

 
   
    
    <form action="login" method="post" class="assignmentform">
        <div class="details">
           <label for="email">Email :</label>
           <input type="text" class="form-details" id="email" name="email" placeholder="Enter email address"
           required>
        </div>

        <div class="details">
            <label for="password">Password :</label>
            <input type="password" class="form-details" id="password" name="password" placeholder="Enter password"
            required>
         </div>
         <div class="details">
            <button type="submit" class="submit"> Sign In</button>
         </div>
    </form>
    <div class="signup">Don't have an account yet? <a href="/register">Register</a></div>
    </div>
    <%- include('./partials/commonfooter') %>
    <script>
        window.onload = function() {
          if (typeof window.history.pushState === 'function') {
            window.history.pushState({}, 'Login', '/login'); // Replace '/login' with the actual login route in your application
          }
        };
    </script>
</body>
    